
body {
  overflow: hidden;
  touch-action: none;
}

#wrap { padding: 16px; width:100%; height:100vh; height: calc(var(--vh, 1vh) * 100); background:#ffffff; overflow-y: hidden; }

/* swiper */
#wrap .swiper { margin:auto; height: calc(var(--vh, 1vh) * 80); }
#wrap .swiper .swiper-wrapper .swiper-slide {
  /* display: -webkit-box; */
  font-size: 18px;
  background: #ffffff;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#wrap .swiper .swiper-wrapper .swiper-slide { margin: auto; }
#wrap .swiper .swiper-wrapper .swiper-slide .slide_inner_txt { margin: auto; text-align: center; font-weight: 300; }
#wrap .swiper .swiper-wrapper .swiper-slide .slide_inner_txt p { font-size: 18px; }
#wrap .swiper .swiper-wrapper .swiper-slide .slide_inner_txt p.splash_title { margin-top: 15px; font-size: 20px; font-weight: bold;}

#wrap .swiper .swiper-pagination .swiper-pagination-bullet { background:#cccccc; opacity: 1; }
#wrap .swiper .swiper-pagination .swiper-pagination-bullet-active { background:#444444; }


/* main 페이지_footer */
#wrap #login_btn_wrap {
  position: fixed;
  bottom: 50px;
  width: calc(100% - 32px); height: 10vh; text-align: center;
}
#wrap #login_btn_wrap p { display: block; }
#wrap #login_btn_wrap img { display:inline-block; padding:15px 20px; margin: auto; }


@media all and (min-width: 820px) {
  #wrap { margin: auto; width: 820px; }
  #wrap #login_btn_wrap { width: 820px; }
}
